.btn-medium {
    border-radius: 50px;
    border: 1px solid lightgray;
    color: lightgray;
    padding: 5px 10px;
    font-weight: lighter;
    font-size: 20px;
    opacity: 0.6;
}

.btn-medium:hover {
    text-decoration: none;
    color: lightgray;
    opacity: 1;
}

.btn-twitter {
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 20px;
    background-color: rgb(238, 67, 67);
    color: white;
}

.btn-twitter:hover {
    text-decoration: none;
    background-color: red;
    color: white;
}