.card {
    height: 200px;
    background: url("https://picsum.photos/200/300");
    background-size: cover;
    color: white;
	position: relative;
}

.card-category {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: gray;
    border-radius: 10px;
    padding: 1px 5px;
}

.card-description {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: gray;
    border-radius: 10px;
    padding: 1px 5px;
}

.card-image {
    position: absolute;
    top: 10px;
    right: 10px; 
}